@keyframes popup {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-popup {
    animation: popup 0.3s ease-out;
}